@import "variables.css";

body {
  padding-top: 56px;
  font-family: Inter;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.table-striped tbody tr:nth-of-type(2n + 1) {
  background-color: #eff7f0;
}
.table td,
.table th {
  border-top: 1px solid #89a289;
}
.table thead th {
  border-bottom: 2px solid #89a289;
}

/* Header */
.navbar-nav .dropdown-menu {
  display: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav.navbar {
  background-color: var(--navbar-bg-color) !important;
}

.dropdown-menu {
  background-color: var(--navbar-bg-color) !important;
}

.nav-link {
  text-decoration: none;
  color: var(--link-color);
}
.navbar-brand {
  color: var(--main-text-color);
}
.navbar-toggler {
  color: var(--main-text-color);
}

form#search-form {
  position:  relative;
}
form .search-results {
  background-color: var(--navbar-bg-color);
  position: absolute;
  top: 40px;
  left: 0;
  padding: 10px;
  width: 100%;
}
form .search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
} 