body {
  padding-top: 56px;
  font-family: Inter;
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #eff7f0;
}
.table td, .table th {
  border-top: 1px solid #89a289;
}
.table thead th {
  border-bottom: 2px solid #89a289;
}

/* Header */
.navbar-nav .dropdown-menu {
  display: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav.navbar {
	background-color:  #eff7f0 !important;
}