@import "variables.css";

body {
  padding-top: 56px;
  font-family: Inter;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

/* Header */
.navbar-nav .dropdown-menu {
  display: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav.navbar {
  background-color: var(--navbar-bg-color) !important;
}

.dropdown-menu {
  background-color: var(--navbar-bg-color) !important;
}

.nav-link {
  text-decoration: none;
  color: var(--link-color);
}
.navbar-brand {
  color: var(--main-text-color);
}
.navbar-toggler {
  color: var(--main-text-color);
}
.navbar .close-search {
  font-size: smaller;
  color: var(--secondary-text-color);
  float: right;
  cursor: pointer;
}

form#search-form {
  position: relative;
}

form#search-form input {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
}
form .search-results {
  background-color: var(--navbar-bg-color);
  position: absolute;
  top: 40px;
  left: 0;
  padding: 10px;
  width: 100%;
}
form .search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}