@import "variables.css";

#graph-container {
  border: 1px solid var(--border);
  background-color: var(--bg-sub);
}
text {
  fill: var(--text-main);
  opacity: 0.6;
}

text:hover {
  opacity: 1;
}

#graph-container svg {
  width: 100% !important;
}


.note-graph {
  background-color: var(--bg-sub);
  border: 1px solid var(--border);
  height: 400px;
  overflow: hidden !important;
}

.note-graph svg {
  width: 100% !important;
}
