form.search-form {
  position: relative;
}

form.search-form input {
  background-color: var(--bg-main);
  color: var(--text-main);
  border: 1px solid var(--border);
}
form .search-result {
  background-color: var(--bg-main);
  position: absolute;
  top: 40px;
  left: 0;
  padding: 10px;
  width: 100%;
  border: 1px solid var(--border);
}
form .search-result:hover {
  background-color: var(--bg-main);
}
form .search-result ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-result p {
  padding-left: 1rem;
  border-left: 1px solid var(--text-main);
  margin-left: .5rem;
  font-size: small;
}