@import "variables.css";

.tag-name {
  border: 1px solid var(--border);
  background-color: var(--bg-main);
  display: inline;
  padding: 3px 5px;
  margin: 5px;
  float: left;
}

.tag-name .badge {
  color: var(--text-sub);
  font-size: small;
}