body {
  --main-bg-color: #fff;
  --card-color: #d8dfd9;
  --main-text-color: #333;
  --navbar-bg-color: #eff7f0;
  --secondary-text-color: #282923;
  --link-color: #818181;
}

body.dark {
  --main-bg-color: #0a0a0a;
  --card-color: #161618;
  --main-text-color: #fff;
  --navbar-bg-color: #212124;
  --secondary-text-color: #818181;
  --link-color: #818181;
}
