body {
  --bg-main: #FFFFFF;
  --bg-sub: #FAFAFC;
  --color-bis: #363636;
  --text-main: #18181C;
  --text-sub: #5D5D67;
  --link: #2380ED;
  --border: #E5E5E5;
}

body.dark {
  --bg-main: #18181C;
  --bg-sub: #262626;
  --color-bis: #E6E6E6;
  --text-main: #FAFAFC;
  --text-sub: #FFFFFF;
  --link: #6D9EFF;
  --border: #353535;
}
